.Find-Content{
    text-align: center;
    margin-top: 10px;
}
.Find-Content label,.Find-Txt{
    font-size: x-large;
    color: rgb(40, 71, 155);
    text-align: center;
}
.Find-Btn{
    text-align: center;
    margin-top: 5%;
}
.Find-Content input{
    width: 28%;
}
.Find-Container{
    margin-top: 10%;
}
