.Find-Content{
    text-align: center;
    margin-top: 10px;
}
.Find-Content label,.Find-Txt{
    font-size: 2vw;
    color: rgb(40, 71, 155);
    text-align: center;
}
.Find-Btn{
    text-align: center;
    margin-top: 5%;
}
.Find-Content input{
    width: 28%; 
}
#NameInput{
    margin-right: 4%;
}
#EmailInput{
    margin-right: 5%;
}
.Find-Container{
    margin-top: 10%;
}
