/* 인풋은 전부 html태그 내에서 조정했습니다 :) */
.Fix-Content div label{
    font-size: 2vw;
    color: rgb(40, 71, 155);
}

.Fix-Content div input{
    width: 30%;
}

.Fix-Content{
    text-align: center;
}
.Info-Fix-Btngroup button{
    height:8vh;
    width: 25%;
}
.Info-Fix-Btngroup{
    text-align: center;
}
