<html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/css/find.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/start.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/bootstrap/css/bootstrap.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>findId</title>
</head>
<body>
    <div class="Find-Container">
        <section id="logo" style="margin-top: 12%;">
            <img src="{% static 'images/logo.png' %}"  alt="logo-img">
        </section>

        <div class="Find-Txt" style="margin-top: 8%;">
            <label>등록하신 이메일로 임시 비밀번호가 전송되었습니다.:)</label>
        </div>

        <div class="Find-Btn" style="margin-top: 8%;">
            <button type="button" class="button-start mt-3" onclick="location.href='/login'">로그인 창으로 돌아가기</button>
        </div>
    </div>
</body>
</html>