<div class="high">
<nav class="navbar navbar-light ">
    <div class="container">
      <a class="navbar-brand" href="#"> <!-- 로고 눌렀을 때 메인페이지로 -->
        <img src="image/logo.png" alt="로고이미지" width="200" height="70">
      </a>
    </div>
  </nav>
  <section class="profile">
    <img src="image/logo.png" class="profileimg" alt="프로필이미지">
    <div class="profilemenu1">
    <p class="nickname"> 닉네임 </p>
    <button type="button" class="logout">로그아웃</button>
    </div>
    <div class="profilemenu2">
    <p class="message">한줄 메세지한줄 메세지한줄 메세지</p>
    <a class="setting" href="#"> <!-- 눌렀을 때 설정페이지로 -->
      <img src="image/setting.png" alt="로고이미지" width="30" height="30">
    </a>
    </div>
    <div class="list-group">
      <button type="button" class="writebtn">글 작성하기</button>
      <a href="#" class="list-group-item">자랑하기</a>
      <a href="#" class="list-group-item">챌린지</a>
      <a href="#" class="list-group-item">상점</a>
      <a href="#" class="list-group-item">자유게시판</a>
      <a href="#" class="list-group-item">정보나눔</a>
      <button type="button" class="seemore">SEE MORE</button>
      <!-- SEE MORE 있어야 되나?  -->
    </div>
    </section>
</div>